<div class="content-container-header"><div class='content-container-header-text'>Forgot your password?</div></div>
<div class="content-container">
	<form class="forgot-password-form">
		<h3>
			No problem. Just enter the email address you signed up with and we'll send you a link to reset it.
		</h3>
		<input type="text" class="topcoat-text-input" id="forgot-password-email" placeholder="Email Address"  data-required data-validate="email" autocorrect="off" autocapitalize="off"/>
		
		<div class="spacer-10-px"></div>
		<a class="topcoat-button send-password-button anton-font">Send Link</a>
		<a class="topcoat-button back-button anton-font">Cancel</a><br>
		<div class="spacer-10-px"></div>

	</form>

	<script>
//****** Validation using jquery-validate.js ******************************//
$('form').validate({
	onKeyup : true,
	eachValidField : function() {

		$(this).closest('.topcoat-text-input').removeClass('error').addClass('success');
	},
	eachInvalidField : function() {

		$(this).closest('.topcoat-text-input').removeClass('success').addClass('error');
	}
});

$.validateExtend({
	email : {
		required : true,
		conditional : function(value) {

			return value.length > 4;
		},
		pattern : /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/
	}
})
</script>

</div>
