<div id="iscroll-help-wrapper">
	<div id='iscroll-help'>
		<div class="help-view-header">Why use a handicap?</div>
		<div class="tldr">Short: Handicaps level the playing field for fun and safety. Use positive values for weak players and negative values for strong players.</div>
		<div class="help-style">
			<strong>Worried</strong> you'll never be able to compete in Bar Golf Stars with that guy from accounting who parties every weekend? Don't think you have what it takes to keep up with your old fraternity buddies?  Maybe you're small and simply don't have the tolerance or capacity to go head-to-head with those twice your size? Well, have no fear. Handicaps are a way of leveling the playing field. 
			<br><br>
			In real golf, a handicap is "a numerical measure of an amateur golfer's playing ability based on the tees played for a given course" but for Bar Golf Stars it's simply a measure of how competitive a player is against all other players. The higher the handicap of a player, the poorer he/she is at bar golfin' relative to all other players.
			<br><br>
			A player's handicap is simply subtracted from the player's final gross score at the end of the round to give them a net score. For instance, a player with a handicap of 18 (a pretty bad bar golfer) who finishes the round at [+12] would receive a net score of [-6] (12 gross score - 18 handicap = -6 net score). Likewise, a player who finishes a round at [-3] but has a handicap of 1, finishes at [-4] (-3 gross - 1 handicap = -4 net). 
			<br><br>
			Though not available in real golf, Bar Golf Stars <b>does</b> allow for negative handicaps for those golfers who might have legendary tolerances (nobody likes it when the same guy wins everytime, right?). So, a player who finishes a round at [-10] but who has a handicap of -10 finishes at even par [+0] (-10 gross - -10 handicap = 0 net).
			<br><br>
			Since Bar Golf Stars doesn't keep running scores from round to round and everyone is just here to have fun (and be <b>SAFE</b> in the meantime), our handicap system is completely via estimation, so you'll have to guess and come to a fair consensus of appropriate handicaps for all if you decide to use them (they are not required). 
			<br><br>
			Just remember, not only can handicaps keep you competitive, they also can be used by players who may not favor imbibing much but who still want to play along. Please use them to your benefit and know your limits!   
		</div>
	</div>
</div>


