<div class="topcoat-list__container" id="left-panel" style="display:none">
  <h3 class="topcoat-list__header">General</h3>
  <ul class="topcoat-list font-size-22">
    <!-- ROADMAP ITEM -->
    <!-- <div class="accent-color-box lt-purple"> 
      <li class="topcoat-list__item--first menu-activity">
        <a>Activity</a>
      </li>
    </div> -->
    <div class="accent-color-box lt-purple">
      <li class="topcoat-list__item--first menu-my-scorecard">
        <div class='left-menu-link'><a class="anton-font">My Scorecard</a></div>
      </li>
    </div>
    <div class="accent-color-box lt-purple">
      <li class="topcoat-list__item menu-leaderboard">
        <div class='left-menu-link'><a class="anton-font">Current Leaderboard</a></div>
      </li>
    </div>
    <div class="accent-color-box lt-purple">
      <li class="topcoat-list__item menu-player">
        <div class='left-menu-link'><a class="anton-font">My Player Profile</a></div>
      </li>
    </div>
    <!-- ROADMAP ITEM -->
    <!-- <div class="accent-color-box blue">
      <li class="topcoat-list__item menu-notifications">
        <a>Notifications</a>
      </li>
    </div> -->
  </ul>
  <h3 class="topcoat-list__header">Round Setup</h3>
    <ul class="topcoat-list font-size-24">
    <div class="accent-color-box lt-purple">
      <li class="topcoat-list__item--first menu-join-round">
        <div class='left-menu-link'><a class="anton-font">Join a Round</a></div>
      </li>
    </div>
    <div class="accent-color-box lt-purple">
      <li class="topcoat-list__item menu-create-round">
        <div class='left-menu-link'><a class="anton-font">Create a Round</a></div>
      </li>
    </div>
    <div class="accent-color-box lt-purple current-round-options">
      <li class="topcoat-list__item menu-current-round">
        <div class='left-menu-link'><a class="anton-font">Modify Current Round</a></div>
      </li>
    </div>
  </ul>
  <h3 class="topcoat-list__header">Need Help Getting Started?</h3>
    <ul class="topcoat-list font-size-24">
      <div class="accent-color-box lt-purple">
      <li class="topcoat-list__item--first menu-rules">
        <div class='left-menu-link'><a class="anton-font">Rules & Help</a></div>
      </li>
    </div>
    </ul>
  <h3 class="topcoat-list__header">About This App</h3>
  <ul class="topcoat-list font-size-22">
    <div class="accent-color-box lt-purple">
      <li class="topcoat-list__item--first menu-acknowledgements">
        <div class='left-menu-link'><a class="anton-font">Acknowledgements</a></div>
      </li>
    </div>
    <div class="accent-color-box lt-purple">
      <li class="topcoat-list__item menu-disclaimer">
        <div class='left-menu-link'><a class="anton-font">Disclaimer</a></div>
      </li>
    </div>
    <div class="accent-color-box lt-purple">
      <li class="topcoat-list__item menu-legal">
        <div class='left-menu-link'><a class="anton-font">Privacy Policy/TOS</a></div>
      </li>
    </div>
  </ul>
  <h3 class="topcoat-list__header">Other Stuff</h3>
  <ul class="topcoat-list font-size-22">
    <div class="accent-color-box lt-purple">
      <li class="topcoat-list__item--first menu-rate">
        <div class='left-menu-link'>
          <a class="anton-font">Rate This App</a></div>
      </li>
    </div>
    <div class="accent-color-box lt-purple">
      <li class="topcoat-list__item menu-free-games">
        <div class='left-menu-link'><a class="anton-font">Get More Free Games</a></div>
      </li>
    </div>
  </ul>
  <h3 class="topcoat-list__header">Your Account</h3>
  <ul class="topcoat-list font-size-24 log-in-log-out">
    <div class="accent-color-box lt-purple">
      <li class="topcoat-list__item--first menu-logout">
        <div class='left-menu-link'><a class="anton-font">Log out</a></div>
      </li>
    </div>
  </ul>
  <h3 class="topcoat-list__header">
    <!-- USERNAME  -->
    <div class="username"></div>
    <!-- /USERNAME  -->
  </h3>
  <ul class="topcoat-list"></ul>
</div>