<div class="slidingview_wrapper" id="slidingview_wrapper">
  
  <!-- LEFT MENU PANEL -->
  <div class='left-menu-bg'></div>
  <div class='left-menu-silhouette'></div>
  <div id="sliding-sidebar"></div>
  <!-- /LEFT MENU PANEL  -->

  <div id="sliding-body">

    <!-- HEADER -->
    <div class="topcoat-navigation-bar header">
      <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet">
          <span class="topcoat-icon topcoat-icon--menu-stack show-sidebar"></span>
        </a>
      </div>
      <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title nav-bar-title anton-font font-size-22">Bar Golf Stars</h1>
      </div>
      <div class="topcoat-navigation-bar__item right quarter right-header-button">
        <a class="topcoat-icon-button--quiet right-side">
          <span class="topcoat-icon anton-font font-size-14 compressed-font">View Map</span>
        </a>
      </div>
    </div>
    <!-- /HEADER -->

    <!-- CURRENT ADDRESS BAR -->
    <div class="tabbar-fixed-top address-bar">
    </div>
    <!-- <div class='blur blur-top'></div> -->
    <!-- /CURRENT ADDRESS BAR -->

    <!-- SERVICE FINDER -->
    <div class="tabbar tabbar-fixed-top places-bar">
       <ul class="light-tab-bar">
        <a class="places-bar-button bar-list-button">Find a Bar</a>
        <a class="places-bar-button taxi-list-button">Call a Taxi</a>
      </ul>
    </div>
    <!-- /SERVICE FINDER -->

  <!-- PAGE CONTENT -->
  <div id='nav-container' class="page-wrapper bg-light">
  </div>
  <!-- /PAGE CONTENT -->

<a href="#" id="panel-trigger" class="trigger rotate">Help</a>
<div id="help-panel" class="panel">
  <!-- help content will be loaded here -->
</div>


</div>
</div>