<!-- this should show if the current round being modified does not have a start data added; hidden otherwise -->
<div class="rs-options-button" id="rs-start-round">
	<div class="rs-options-overlay">
		<div class="rs-options-button-header">Touch Here to Start Round</div>
		<div class="rs-options-button-footer">This will create your unique id so others can join</div>
	</div>
	<!-- <div class="blur blur-bottom"></div> -->
</div>

<!-- this should be displayed if the current round being modified has a startDate added; hidden otherwise -->
<div class="rs-options-button" id="rs-round-id">
	<div class="rs-options-overlay">
		<div class="rs-options-button-header">Join Round ID:</div>
		<div class="rs-options-button-footer">Others can input this in 'Join Round' to play along</div>
	</div>
	<!-- <div class="blur blur-bottom"></div> -->
</div>

<div id='iscroll-wrapper' class="round-setup">
	<div id='iscroll'>
		
		<ul class="rs-list">
			<!-- Players -->
			<li class='rs-options-header drk-purple-font font-size-16'>Add/Modify Players</li>
			<li class="rs-option lt-lt-gray rs-options-players">
				<div class="list-icon"><div id="rs-players-icon"></div></div>
				<div class="rs-options-chevron">></div>
				<div class="rs-options-title font-size-16">Players</div>
				<div class="rs-options-desc">Add/edit names and handicaps</div>
			</li>

			<!-- Holes -->
			<li class='rs-options-header add-pad-20 drk-purple-font font-size-16'>Add/Modify Bar Holes</li>
			<li class="rs-option rs-options-holes">
				<div class="list-icon"><div id="rs-hole-icon"></div></div>
				<div class="rs-options-chevron">></div>
				<div class="rs-options-title font-size-16">Individual Holes</div>
				<div class="rs-options-desc">Add/edit individual hole locations</div>
			</li>
			<li class="rs-option rs-options-auto-course-setup">
				<div class="list-icon"><div id="rs-automatic-icon"></div></div>
				<div class="rs-options-chevron">></div>
				<div class="rs-options-title font-size-16">Automatic Course Setup</div>
				<div class="rs-options-desc">Let Bar Golf Stars set up the course for you</div>
			</li>

			<!-- Custom Scoring -->
			<li class='rs-options-header add-pad-20 drk-purple-font font-size-16'>Customize Scoring</li>
			<li class="rs-option rs-options-drinks">
				<div class="list-icon"><div id="rs-drink-icon"></div></div>
				<div class="rs-options-chevron">></div>
				<div class="rs-options-title font-size-16">Drinks</div>
				<div class="rs-options-desc">Add/edit drink values</div>
			</li>
			<li class="rs-option rs-options-bonuses">
				<div class="list-icon"><div id="rs-bonus-icon"></div></div>
				<div class="rs-options-chevron">></div>
				<div class="rs-options-title font-size-16">Bonuses</div>
				<div class="rs-options-desc">Add/edit bonus values</div>
			</li>
			<li class="rs-option rs-options-penalties">
				<div class="list-icon"><div id="rs-penalty-icon"></div></div>
				<div class="rs-options-chevron">></div>
				<div class="rs-options-title font-size-16">Penalties</div>
				<div class="rs-options-desc">Add/edit penalty values</div>
			</li>
			</li>
			<li class="rs-option rs-options-reset-defaults">
				<div class="list-icon"><div id="rs-cloud-down-icon"></div></div>
				<div class="rs-options-chevron">></div>
				<div class="rs-options-title font-size-16">Reset All Scoring Defaults</div>
				<div class="rs-options-desc">Reset all custom scoring to default values</div>
			</li>

			<!-- Other -->
			<li class='rs-options-header add-pad-20 drk-purple-font font-size-16'>Other</li>
			<li class="rs-option rs-options-delete-round">
				<div class="list-icon"><div id="rs-delete-icon"></div></div>
				<div class="rs-options-chevron">></div>
				<div class="rs-options-title font-size-16">Delete Round</div>
				<div class="rs-options-desc">Remove this Bar Golf Stars round</div>
			</li>
			<div style="height:52px; width:100%; text-align:center; margin-top:5px;">Crying will cost you a stroke!</div>
		</ul>
	</div>	
</div>


