<div id="iscroll-help-wrapper">
	<div id='iscroll-help'>
		<div class="help-view-header">Rule Stroke Values</div>
		<div class="tldr">Short: Add negative stroke values for positive things like a drink or bonus; add positive values as penalties</div>
		<div class="help-style">
			<strong>Worried</strong> you'll never be able to compete in Bar Golf Stars with that guy from accounting who parties every weekend? Don't think you have what it takes to keep up with your old fraternity buddies?  Maybe you're small and simply don't have the tolerance or capacity to go head-to-head with those twice your size? Well, have no fear. Handicaps are a way of leveling the playing field. 
			<br><br>
			
		</div>
	</div>
</div>