<% 
var determineIconId = function() {
	var iconId = '';
	
	if (type === 'drink') {
			iconId = 'rs-drink-icon';
		} else if (type === 'bonus'){
			iconId = 'rs-bonus-icon';
		} else {
			iconId = 'rs-penalty-icon';
		}
	
	return iconId;
}

var determineRuleLabel = function() {
	var label = '';
	
	if (type === 'drink') {
		label = 'Drink:';
	} else if (type === 'bonus'){
		label = 'Bonus:';
	} else {
		label = 'Penalty:';
	} 
	return label;
}

%> 
<div class="data-score-row">
<div class="list-icon rs-list-item"><div id="<%= determineIconId() %>"></div></div>
<div class="data-score-item-name"><%= name %></div>
<table class="anton-font score-table">
	<tr>
		<td class="data-score-item-value">
			<div><%= value %></div>
		</td>
		<td class="data-score-buttons">
			<div id='add-score'>+</div>
		</td>
		<td class="data-score-buttons">
			<div id='remove-score'>-</div>
		</td>
	</tr>
</table>
</div>