<td class='scorecard-hole-score-number anton-font' data-id='1'>--</td>
<td class='scorecard-hole-score-number anton-font' data-id='2'>--</td>
<td class='scorecard-hole-score-number anton-font' data-id='3'>--</td>
<td class='scorecard-hole-score-number anton-font' data-id='4'>--</td>
<td class='scorecard-hole-score-number anton-font' data-id='5'>--</td>
<td class='scorecard-hole-score-number anton-font' data-id='6'>--</td>
<td class='scorecard-hole-score-number anton-font' data-id='7'>--</td>
<td class='scorecard-hole-score-number anton-font' data-id='8'>--</td>
<td class='scorecard-hole-score-number anton-font' data-id='9'>--</td>