<div class="welcome">
  <center>

   <!-- BGS LOGO -->
   <div class ='dark-banner'>
    <table class="color-banner bg-slategray" cellspacing="0">
          <tr>
            <td class="lt-purple"></td>
          </tr>
        </table>

    <ul class="topcoat-list banner">
      <li class="topcoat-list__item--first bg-slategray banner">
        <div class="bgs-silhouette"></div>
        <div class="bgs-logo-large"></div>
      </li>
    </ul>
    <ul class="topcoat-list"></ul>
  </div>
  <!-- /BGS LOGO -->

  <!-- NAV CONTROLLER AND PORTAL CONTENT -->
  <div id='nav-container'>
  </div>
  <!-- /NAV CONTROLLER AND PORTAL CONTENT -->

  </center>
</div>