<div class="content-container-header"><div class='content-container-header-text'>Crying will cost you a stroke.</div></div>
<div class="content-container">

  <div class="topcoat-button facebook-button-bg">
    <div class="button-link-container">
      <div class="facebook-white-icon"></div>
      <div class="facebook-link">Sign in with Facebook</div>
    </div>
  </div>
  <div class='disclaimer-footer'>We never post without your permission</div>
  <div class="button-container-separator"></div>
  <a class="topcoat-button goto-login-button anton-font">Login</a>
  <a class="topcoat-button goto-signup-button anton-font">Sign up</a>
  <div class="button-container-separator"></div>
  <br>
  <!-- <div class="topcoat-button skip-login-button-bg anton-font">Proceed without logging in</div>
  <div class='disclaimer-footer'>NOTE: Some features require logging in</div> -->
  <br><br><br><br>
</div>