//FONT STUFF

//VARIABLES
//-----------------------------------------------------------
$open-sans: 'Open Sans', sans-serif;
//-----------------------------------------------------------

//MIXINS
//-----------------------------------------------------------
@mixin source-sans($size, $weight) {
	font: $size "Source Sans", helvetica, arial, sans-serif!important;
	font-weight: $weight;
}
//------------------------------------------------------------

.anton-font {
	font-family:'Anton', 'Source Sans', helvetica, arial, sans-serif!important;
}

.font-size-24 {
	font-size: 24px!important;
}

.font-size-22 {
	font-size: 22px!important;
}

.font-size-20 {
	font-size: 20px!important;
}

.font-size-18 {
	font-size: 18px!important;
}

.font-size-16 {
	font-size: 16px!important;
}

.font-size-14 {
	font-size: 14px!important;
}

.font-size-12 {
	font-size: 12px!important;
}

.compressed-font {
	letter-spacing: 0.01rem!important;
}
